<footer>
  <div id="footer-content">
    <div id="brand-slogan">
      <img src="/assets/images/Sheryians_Logo_wFKd9VClG.png" alt="" />
      <h3>Let`s connects with our socials</h3>
      <div id="socials">
        <a href="https://github.com/Noumansharif27/"
          ><i class="ri-github-fill"></i>
        </a>
        <a href="https://instagram.com/Nouman_sharifgul"
          ><i class="ri-instagram-fill"></i
        ></a>
        <a href="https://linkedin.com/in/Nouman Sharif"
          ><i class="ri-linkedin-box-fill"></i
        ></a>
        <a href="https://discord.com/channels/@me"
          ><i class="ri-discord-fill"></i
        ></a>
        <a href="https://www.threads.net/"><i class="ri-threads-fill"></i></a>
      </div>
    </div>
    <div id="links-info">
      <div id="company-links">
        <h3>COMPANY</h3>
        <a href="#">About Us</a>
        <a href="#">Support</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms and Condition</a>
        <a href="#">Pricing and Refund</a>
        <a href="#">Hire From Us</a>
        <a href="#">Bug Bounty</a>
      </div>

      <div id="communities-links">
        <h3>COMMUNITY</h3>
        <a href="#">Inertia</a>
        <a href="#">Discord</a>
      </div>

      <div id="owner-info">
        <h3>Get In Touch</h3>
        <a href="#">+923172534659</a>
        <a href="#">+923104340790</a>
        <a href="mailto:noumansharifgul@gmail.com">noumansharifgul@gmail.com</a>
        <a href="#" id="address">Lorem ipsum dolor sit amet.</a>
      </div>
    </div>
  </div>

  <h3>
    Copyright &copy; 2024 Sheryians Ptv.Ltd. <br />
    All Rights Reserved.
  </h3>
</footer>
