<header>
  <nav id="nav">
    <div id="brand-name">
      <img
        src="/public/assets/favicons/sheryians-Sheryians_Logo_wFKd9VClG.png"
        alt=""
      />
      <h6>Sheryians coding school</h6>
    </div>
    <div id="nav-options">
      <h6>Home</h6>
      <h6>Courses</h6>
      <h6>Re-Imagine</h6>
      <button id="sign-in">Sign In</button>
    </div>
    <div id="nav-button">
      <div id="line-1" title="button"></div>
      <div id="line-2" title="button"></div>
    </div>
  </nav>

  <div id="menu">
    <div id="menu-nav">
      <h1 id="hero-heading">Menu</h1>
      <!-- <div id="menu-nav-button">
            <div id="line-1" title="button"></div>
            <div id="line-2" title="button"></div>
          </div> -->
    </div>

    <hr />

    <div id="menu-nav-options">
      <a href="#">Home</a>
      <a href="#">Courses</a>
      <a href="#">Re-Image</a>
      <a href="#">Sign In</a>
    </div>
  </div>
</header>
