@font-face {
  font-family: "RobotoMono-extraLight";
  src: url(./fonts/RobotoMono-ExtraLight.ttf);
}

@font-face {
  font-family: "RobotoMono-extraLight-italic";
  src: url(./fonts/RobotoMono-ExtraLightItalic.ttf);
}

@font-face {
  font-family: "RobotoMono-Medium";
  src: url(./fonts/RobotoMono-Medium.ttf);
}

@font-face {
  font-family: "RobotoMono-Regular";
  src: url(./fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: "RobotoMono-SemiBold";
  src: url(./fonts/RobotoMono-SemiBold.ttf);
}

@font-face {
  font-family: "RobotoMono-Bold";
  src: url(./fonts/RobotoMono-Bold.ttf);
}

@font-face {
  font-family: "RobotoMono-BoldItalic";
  src: url(./fonts/RobotoMono-BoldItalic.ttf);
}

@font-face {
  font-family: "Montserrat-Black";
  src: url(./fonts/Montserrat-Black.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(./fonts/Montserrat-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0c0c0c;
  color: #e9e9e9;
  font-family: Juan;
  overflow-x: hidden;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

#layer {
  height: 150vh;
  width: 100vw;
  position: absolute;
}

#capsules {
  height: 80vh;
  width: 100%;
  position: relative;
}

#layer #capsule-1 {
  height: 25rem;
  width: 10rem;
  background-color: #24cfa676;
  backdrop-filter: blur(10px);
  transform-origin: 0% 50%;
  transform: rotate(50deg);
  box-shadow: 20px 80px 90px 70px #24cfa776;
  position: absolute;
  top: -20rem;
  left: 35%;
  transform: translate(-50, 0);
  border-radius: 0 0 50% 50%;
}

#layer #capsule-2 {
  height: 15rem;
  width: 5rem;
  background-color: #24cfa676;
  backdrop-filter: blur(10px);
  transform: rotate(-50deg);
  box-shadow: 20px 80px 90px 70px #24cfa776;
  position: absolute;
  top: -8rem;
  right: 35%;
  transform: translate(-50, 0);
  border-radius: 0 0 50% 50%;
}

#circle {
  height: 50vh;
  width: 100%;
  /* padding-top: 1rem; */
  padding-left: 75%;
}

#sm-circle {
  height: 5rem;
  width: 5rem;
  background-color: #24cfa74f;
  border-radius: 50%;
  box-shadow: 10px 10px 90px 80px #24cfa74f;
}

#main {
  background-color: #0c0c0c86;
  backdrop-filter: blur(50px);
}

#nav {
  height: 9vh;
  width: 100vw;
  background-color: #24232300;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  position: fixed;
  z-index: 88;
}

#brand-name {
  width: 40%;
  font-size: 1.35rem;
  font-weight: 100;
  padding-left: 4rem;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "RobotoMono-Regular";
}

#brand-name img {
  height: 2rem;
}

#nav-options {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
  font-family: "RobotoMono-Regular";
  padding-right: 5.5rem;
}

#nav-options h6 {
  font-size: 0.85rem;
}

#sign-in {
  height: 2rem;
  width: 5.5rem;
  border-radius: 0.25rem;
  background-color: #24cfa6;
  border: none;
  font-size: 0.9rem;
}

#main #home {
  height: 100vh;
  width: 100vw;
  /* background-color: gray; */
  padding: 8rem 10rem;
  text-align: center;
  position: relative;
}

#main section h1 {
  font-size: 5rem;
  text-align: center;
  line-height: 4.3rem;
  font-family: "RobotoMono-extraLight";
  font-weight: 100;
  letter-spacing: -5px;
}

#main section h1 span {
  color: #24cfa6;
  font-family: "RobotoMono-extraLight";
  /* font-weight: 100; */
}

button {
  background-color: #24cfa6;
}

#main button {
  height: 2.8rem;
  width: 22.5rem;
  border-radius: 0.325rem;
  background-color: #24cfa6;
  border: none;
  margin-top: 4rem;
  font-size: 1.25rem;
  font-weight: 540;
  color: #0c0c0c;
}

#main section button span {
  font-weight: 545;
}

#main #floating-text {
  position: absolute;
  bottom: 38%;
  right: 13%;
  font-size: 0.85rem;
  opacity: 0.8;
  text-align: left;
}

#main #floating-text span {
  color: #24cfa6;
}

#statistics-dashboard {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 7rem;
  margin: 4rem 0;
}

#statistics-dashboard h2 {
  font-family: "Montserrat-Black";
  line-height: 20px;
  /* font-weight: 100; */
}

#statistics-dashboard h3 {
  font-family: "RobotoMono-extraLight";
  letter-spacing: -1px;
}

#main #page-2 {
  height: 160vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page-2-main-heading {
  font-size: 2.5rem;
  text-align: center;
  line-height: 4.3rem;
  font-family: "RobotoMono-extraLight";
  font-weight: 100;
  letter-spacing: -5px;
  margin-bottom: 3.5rem;
}

#main #page-2 button {
  width: 15rem;
  font-weight: 500;
}

#page-2-main-heading span {
  color: #24cfa6;
}

#page-2 img {
  border-radius: 10px;
}

#main #page-3 {
  height: 150vh;
  width: 100vw;
  text-align: left;
  padding: 5rem 4rem 0 4rem;
}

#main #page-3 #headline {
  font-size: 2.5rem;
  font-family: "RobotoMono-extraLight";
  letter-spacing: -3px;
}

#courses-cards {
  margin-top: 3rem;
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}

#main .course-card {
  height: 90%;
  width: 31%;
  background-color: #1e1e1e;
  border-radius: 20px;
  overflow: hidden;
}

.course-card .card-header {
  width: 100%;
  height: 35%;
  margin-bottom: 1.5rem;
}

.course-card .card-header img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.card-main .card-heading {
  font-size: 1.2rem;
  font-family: "RobotoMono-extraLight";
  letter-spacing: -1px;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.card-main .card-details {
  font-size: 0.85rem;
  font-family: "RobotoMono-extraLight";
  letter-spacing: -1.5px;
  padding-left: 1.5rem;
  opacity: 0.8;
}

.card-main .details-line {
  /* background-color: pink; */
  height: 2rem;
  width: 90%;
  border-bottom: 1px solid #4f4f4f;
  margin: auto;
}

.card-main .course-features {
  /* height: 50%; */
  width: 100%;
  padding: 1.5rem 0 0 2.5rem;
}

.course-features .webD {
  background-color: #121212;
  padding: 0.5rem;
  width: 35%;
  font-size: 0.85rem;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-bottom: 0.8rem;
  margin-right: 1rem;
}

.course-features .anim {
  background-color: #121212;
  padding: 0.5rem;
  width: 25%;
  font-size: 0.85rem;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.course-features .design {
  background-color: #121212;
  padding: 0.5rem;
  width: 25%;
  font-size: 0.85rem;
  border-radius: 5px;
  text-align: center;
}

.card-main .tutor-pricing {
  width: 100%;
  height: 4rem;
  background-color: #121212;
  margin-top: 2.2rem;
  text-align: left;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tutor-pricing h3 span {
  opacity: 0.7;
  font-size: 0.89rem;
  font-family: "RobotoMono-extraLight";
}

.tutor-pricing h3 {
  font-size: 1rem;
  font-family: "RobotoMono-extraLight";
}

.purchase-btn {
  width: 100%;
  height: 3rem;
  background-color: #24cfa6;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
  border-radius: 50%;
  font-family: "RobotoMono-SemiBold";
}

.course-features .lgc {
  background-color: #121212;
  padding: 0.5rem;
  width: 35%;
  font-size: 0.95rem;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  margin-bottom: 0.8rem;
  margin-right: 1rem;
}

.card-main .bknd-details-line {
  /* background-color: pink; */
  height: 5rem;
  width: 90%;
  border-bottom: 1px solid #4f4f4f;
  margin: auto;
}

.course-card .bknd-tp {
  margin-top: 1rem;
}

.course-features .apt {
  background-color: #121212;
  padding: 0.5rem;
  width: 25%;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 0.8rem;
  margin-right: 1rem;
  display: inline-block;
}

.course-features .rsng {
  background-color: #121212;
  padding: 0.5rem;
  width: 30%;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 0.8rem;
  margin-right: 1rem;
  display: inline-block;
}

.course-card .apt-tp {
  margin-top: 1rem;
}

.card-main .apt-details-line {
  /* background-color: pink; */
  height: 5rem;
  width: 90%;
  border-bottom: 1px solid #4f4f4f;
  margin: auto;
}
