@font-face {
  font-family: "Juan";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-medium_WrymeW95W.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juan";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-extralight__KHggd4aZ.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-regularit_AeweXTWiS.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Juan";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juanaalt-semibold_AnJ7g--aJ.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juan";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-black_qsRZ2yEB9.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-mediumit_kwYDtLOMs.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Juan";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-bold_kpaGmQ4v_v.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-boldit_f6REbZK2g.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-blackit_WeBJaLKA8-.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Juan";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-regular_mHnKLu9dd0.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-lightit_vzJK35d3aE.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-extralightit_toKzXEsfr.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Juan";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-light_ivMEPQBZu.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juanaalt-bold_prHhz92hiS.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juan";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-thin_lHX4jBZFvC.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juana-semiboldit_yfAC9hSzSh.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juanaalt-medium_L_cpau2EfA.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juanaalt-black_5k8c_h_Qxj.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juanaalt-thin_8GEkbrwkLn.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juanaalt-regular_33psZw8SQ.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juanaalt-extralight_fokPbOsQ9.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juana";
  src: url("../fonts/Fontspring-DEMO-juana-black,Fontspring-DEMO-juana-blackit,Fontspring-DEMO-juana-bold-Fontspring-DEMO-juanaalt-light_vjpuCX47rI.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMachina";
  src: url("../fonts/neueMachina-NeueMachina-Regular_DQCmjH1st.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("../fonts/neueMachina-NeueMachina-Ultrabold_jtJhX5ZopX.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("../fonts/neueMachina-NeueMachina-Black_Jq-BOUQTx.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("../fonts/neueMachina-NeueMachina-Ultralight_L18yrR2IlK.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("../fonts/neueMachina-NeueMachina-Light_gwWCZxVuQl.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("../fonts/neueMachina-NeueMachina-Medium_d0jNuroW9.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina";
  src: url("../fonts/neueMachina-NeueMachina-Bold_WaMOsLX9Z9.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url("../fonts/SiteStaticFiles-Gilroy-Extrabold_YC6oQDa3Ix.ttf");
  font-family: "Gilroy";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/SiteStaticFiles-Gilroy-Bold_JK4cTGJOE.ttf");
  font-family: "Gilroy";
  font-weight: 600;
}

@font-face {
  src: url("../fonts/SiteStaticFiles-Gilroy-Semibold_zTZ2PgJOF.ttf");
  font-family: "Gilroy";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/SiteStaticFiles-Gilroy-Medium_eHDK2RllDd.ttf");
  font-family: "Gilroy";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/SiteStaticFiles-Gilroy-UltraLight_GObAYY-eiQ.ttf");
  font-family: "Gilroy";
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-Thin_J0zaDW5kUV_cvf1ZCDypY.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-Light_M4nzWhve6k_k7HolyzL10.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-Bold_VMHV5twUMR_2SBNfxj1ry.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-Hairline_9Jz6JFa3S_u32EafJPG.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-LightIta_mLZfHYSDzL_zoX1nh7QCH.woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-RegIta_ZQZ0ISuECo_Ebf0ebpNZw.woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-ThinIta__6kihetaOz_w4-Sx_LrF0.woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-MedIta_s4wTiA5al_YBtT5S80dg.woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-HairlineI_KIzj8Plwv_0Olitr0Zj1.woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-ExtBlkIta_f0giU-O0Yd_sAomO0ePGQ.woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-BoldIta_O5gX7g1L5_EGb7W3WC7O.woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-Black_-pjI4fOp4E_mmKDOiFYb1.woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-BlackIta_y1WeOftIb_moP1jEfkvM.woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-ExtBlk_yunH-AhU2b_d1mB8gCvOj.woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-ExtLtIta_GJzq7onfxt_6WJ9e-RWZL.woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-ExtBdIta__MPkMs25CD_MEFsGC4G_T.woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-ExtraBold_Qqt_sGOvuc_Z0ZOJEQucI.woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica-HelveticaNowDisplay-ExtLt_R50yORjQ9_zDWWhh4hzv.woff2");
  font-weight: 200;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0c0c0c;
  color: #e9e9e9;
  font-family: Juan;
}

/* #main {
  height: 100%;
  width: 100%;
  background-color: aqua;
} */

#nav {
  height: 9vh;
  width: 100vw;
  background-color: #24232300;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  position: fixed;
}

#brand-name {
  width: 40%;
  font-size: 1.35rem;
  font-weight: 100;
  padding-left: 6rem;
}

#nav-options {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
  font-family: "Juan";
  padding-right: 5.5rem;
}

#nav-options h6 {
  font-size: 0.85rem;
}

#sign-in {
  height: 2rem;
  width: 5.5rem;
  border-radius: 0.25rem;
  background-color: #24cfa6;
  border: none;
  font-size: 0.9rem;
}
