<body id="body">
  <div id="layer">
    <div id="capsules">
      <div id="capsule-1"></div>
      <div id="capsule-2"></div>
    </div>

    <div id="circle">
      <div id="sm-circle"></div>
    </div>

    <div id="half-ball"></div>
  </div>

  <div id="wraper">
    <main id="main">
      <section id="home">
        <h1>
          We only <span>teach</span> what we are really really
          <span id="span-1">good</span> at.
        </h1>
        <button>Check Courses<span>-Make an Impact</span></button>

        <div id="floating-text">
          <p>
            Get ready to<span>
              accelerate your <br />
              career </span
            >with custamized courses <br />
            and leave your mark in the tech <br />
            industry
          </p>
        </div>

        <div id="statistics-dashboard">
          <div class="part">
            <h2>24K+</h2>
            <h3>Students taught</h3>
          </div>
          <div class="part">
            <h2>9+</h2>
            <h3>Instructors</h3>
          </div>
          <div class="part">
            <h2>320K+</h2>
            <h3>Youtube Subs.</h3>
          </div>
        </div>
      </section>

      <section id="page-2">
        <h2 id="page-2-main-heading">
          we do whatever it takes to help you
          <span>understand the concepts.</span>
        </h2>

        <div id="video"></div>

        <button>Explore free learning</button>
      </section>

      <section id="page-3">
        <h2 id="headline">Courses Offered.</h2>
        <div id="courses-cards">
          <div class="card">
            <div class="course-card">
              <div class="card-header">
                <img src="/assets/images/Front-End_Domination.jpg" alt="" />
              </div>

              <div class="card-main">
                <h3 class="card-heading">
                  Front-End Domination : Create Anything With Code
                </h3>
                <p class="card-details">
                  Domi8 the web game with 'Front-End Domination.'! <br />
                  Nail HTML, CSS, JS and Solve real problems, dive...
                </p>

                <div class="details-line"></div>

                <div class="course-features">
                  <div class="webD">Web Development</div>
                  <div class="anim">Animations</div>
                  <div class="design">Designing</div>
                </div>

                <div class="tutor-pricing">
                  <h3><span>By</span> Harsh & Sarthak</h3>
                  <h3>$599</h3>
                </div>
              </div>
            </div>

            <button class="purchase-btn">Buy Now</button>
          </div>

          <div class="card">
            <div class="course-card">
              <div class="card-header">
                <img src="/assets/images/Back-End_Domination.jpeg " alt="" />
              </div>

              <div class="card-main">
                <h3 class="card-heading">
                  Back-End Domination : Create Effictive Back-End
                </h3>
                <p class="card-details">
                  Ready to rule the digital world? lern to bulid <br />
                  powerful back-end that drives websites and apps...
                </p>

                <div class="bknd-details-line"></div>

                <div class="course-features">
                  <div class="webD">Web Development</div>
                  <div class="lgc">Logic Building</div>
                </div>

                <div class="tutor-pricing bknd-tp">
                  <h3><span>By</span> Harsh Sharma</h3>
                  <h3>$799</h3>
                </div>
              </div>
            </div>

            <button class="purchase-btn">Buy Now</button>
          </div>

          <div class="card">
            <div class="course-card">
              <div class="card-header">
                <img src="/assets/images/apti_reasoning.jpeg" alt="" />
              </div>

              <div class="card-main">
                <h3 class="card-heading">
                  Aptitude & Reasoning for <br />
                  Campus Placements
                </h3>
                <p class="card-details">
                  Ace your campus placements! Master aptitude and <br />
                  reasoning with our expert-lead course, pack with...
                </p>

                <div class="details-line"></div>

                <div class="course-features">
                  <div class="lgc">Logic Building</div>
                  <div class="apt">Aptitude</div>
                  <div class="rsng">Reasoning</div>
                </div>

                <div class="tutor-pricing apt-tp">
                  <h3><span>By</span> Akarsh Vyas</h3>
                  <h3>$89</h3>
                </div>
              </div>
            </div>

            <button class="purchase-btn">Buy Now</button>
          </div>
        </div>
      </section>

      <section id="page-4">
        <h2>
          Top <span>Companines</span> our students <br />
          working with
        </h2>

        <div id="companies-logos">
          <div class="top">
            <img src="/assets/images/netlinklogo.png" alt="" />
            <img src="/assets/images/mindtree logo.png" alt="" />
            <img src="/assets/images/wallmartlogo.png" alt="" />
          </div>

          <div id="bottom">
            <img src="/assets/images/rapidops logo.png" alt="" />
            <img src="/assets/images/tcs logo.png" alt="" />
            <img src="/assets/images/amazon logo.png" alt="" />
            <img src="/assets/images/wipro logo.webp" alt="" />
            <img src="/assets/images/gfg logo.webp" alt="" />
          </div>
        </div>

        <button>Expolre Courses</button>
      </section>
    </main>
  </div>

  <script src="script.js"></script>
</body>
